// 垂直居中
@mixin vertical-center() {
  display: flex;
  align-items: center;
}

// 水平居中
@mixin horizontally-center() {
  display: flex;
  justify-content: center;
}

// 水平垂直居中
@mixin box-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}