// 全局样式
$bg-color:var(--bgColor, #F5F5F5);
$hd-bg-color:var(--hdBgColor, #FFF);
$ft-bg-color:var(--ftBgColor, #FFF);
$aside-bg-color:var(--asideBgColor, #FFF);
$default-font-size:1.6vw;
$hover:#8c8b8b85